.settings-setting {
  padding: 40px 10px;
  border-bottom: var(--main-border);
  opacity: 0.8;
}

.settings-setting span {
  padding-left: 30px;
  font-size: 20px;
}

.settings-setting i {
  font-size: 25px;
}

.settings-list__plus {
  display: flex;
  justify-content: space-between;
}

.settings-list__plusthing {
  font-size: 20px;
  opacity: 0.7;
}
